* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

a {
    color: black;
}

.wrapper {
    width: 60vw;
}

.row-1 {
    font-weight: 300;
    font-size: 50px;
    background: #1982fc;
    color: white;
    padding: 20px 50px;
    border-radius: 30px;
    margin: 0px;
    width: 57%;
}

.name {
    font-weight: 500;
}

.row-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
}

.row-2-blurb {
    order: 1;
    flex: 1 1 57%;
    background-color: #efeef6;
    padding: 20px 50px;
    border-radius: 30px;
}

.row-2-blurb p {
    font-size: 28px;
    font-weight: 300;
}
.location {
    display: inline-block;
}

.row-2-blurb-emphasis {
    font-weight: 500;
}

.row-2-avatar-container {
    order: 2;
    flex: 1 1 43%;
}

.row-2-avatar {
    background-color: #bae8fc;
    width: 350px;
    height: 350px;
    line-height: 350px;
    border-radius: 100%;
    text-align: center;
    margin-left: auto;
}

.row-2-avatar > img {
    max-width: 75%;
    max-height: 100%;
    vertical-align: middle;
}

.row-3 {
    display: flex;
    margin-top: 25px;
    width: 57%;
}

.grid-container {
    display: grid;
    column-gap: 20px;
    grid-template-columns: auto auto auto;
}

.card {
    background-color: #efeef6;
    height: 130px;
    text-align: center;
    border-radius: 30px;
    width: 100%;
    padding-top: 15%;
}

.card svg {
    fill: #333;
    max-height: 75%;
    max-width: 75%;
}

.email {
    grid-column-start: 1;
}

.linkedin {
    grid-column-start: 2;
}

.github {
    grid-column-start: 3;
}

@media screen and (max-width: 1280px) {
    body {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: 0px;
    }

    .wrapper {
        width: 80vw;
    }
}

/* Temporary fix */
@media screen and (max-width: 1150px) {
    .row-2-avatar {
        width: 250px;
        height: 250px;
        line-height: 250px;
    }
}

@media screen and (max-width: 769px) {
    body {
        left: none;
        top: none;
        transform: 0px;
    }

    .wrapper {
        width: 100vw;
        height: 100vh;
    }

    .row-1 {
        width: 347px;
        font-size: 25px;
    }

    .row-2 {
        flex-direction: column;
    }

    .row-2-avatar-container {
        order: 1;
    }

    .row-2-avatar {
        width: 250px;
        height: 250px;
        line-height: 250px;
    }

    .row-2-blurb {
        order: 2;
        margin-top: 25px;
    }

    .row-2-blurb p {
        font-size: 18px;
    }

    .row-3 {
        width: 100%;
    }
}
